body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-x: hidden; }

header .container .menu .logo img {
  height: 75px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px; }

header .container .menu .navbar {
  padding-top: 0px; }
  header .container .menu .navbar .collapse {
    justify-content: flex-end;
    padding-top: 0px; }
    header .container .menu .navbar .collapse ul {
      margin-right: 0px !important;
      padding-right: 7px; }
      header .container .menu .navbar .collapse ul li {
        font-weight: 700;
        padding: 3px;
        padding-top: 40px;
        margin: 8px;
        margin-top: 0px !important;
        text-transform: uppercase; }
        header .container .menu .navbar .collapse ul li.active {
          background-color: #171d96;
          border-radius: 0px 0px 8px 8px; }
          header .container .menu .navbar .collapse ul li.active a {
            color: white; }
        header .container .menu .navbar .collapse ul li:hover {
          background-color: #171d96;
          border-radius: 0px 0px 8px 8px; }
          header .container .menu .navbar .collapse ul li:hover a {
            color: white; }
    header .container .menu .navbar .collapse button {
      background: white;
      margin-top: 32px; }

header .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; }
  header .slider .carousel-item img {
    width: 100%;
    height: 100vh; }
  header .slider .carousel-item .wrap-caption {
    width: 80%;
    position: absolute !important;
    top: 40% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    header .slider .carousel-item .wrap-caption .item-1 span {
      display: inline-block;
      padding: 10px;
      background: #454648;
      font-size: 1.3rem; }
    header .slider .carousel-item .wrap-caption .item-2 {
      margin-top: 1.5rem; }
      header .slider .carousel-item .wrap-caption .item-2 span {
        display: inline-block;
        font-size: 1.8rem;
        padding: 1rem 3rem;
        background: #3b41a3; }
    header .slider .carousel-item .wrap-caption .item-3 {
      margin-top: 1.5rem; }
      header .slider .carousel-item .wrap-caption .item-3 span {
        display: inline-block;
        font-size: 1.5rem;
        padding: 1rem 3rem;
        background: #45bfc6; }
  header .slider .contact {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0; }
    header .slider .contact .wrap-form {
      padding: 15px;
      border-radius: 4px;
      background-color: #ebebeb; }
      header .slider .contact .wrap-form .title {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        color: white;
        font-size: 1.2rem;
        align-items: center;
        background-color: #f35f2a; }
      header .slider .contact .wrap-form input::placeholder, header .slider .contact .wrap-form textarea::placeholder {
        font-size: .8rem; }
      header .slider .contact .wrap-form button {
        width: 100%;
        height: 100%;
        background-color: #171d96;
        color: white; }

.services {
  /* thumnail */ }
  .services .title h3 {
    text-align: center;
    margin-top: 2rem; }
  .services figure {
    position: relative; }
    .services figure .color {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(58, 62, 158, 0.7); }
    .services figure img {
      width: 100%; }
    .services figure .ab-img {
      text-align: center;
      width: 100%;
      position: absolute;
      color: white;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      .services figure .ab-img .icon i {
        font-size: 2rem; }
      .services figure .ab-img .text {
        margin-top: 1rem;
        font-size: 1rem; }
  .services .more {
    text-align: center;
    margin-bottom: 1rem; }
    .services .more a {
      color: #5c5c5c;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none; }

.check {
  margin-top: 3rem; }
  .check .wrap-check {
    padding: 2rem 1.2rem;
    background-color: #25c9da; }
    .check .wrap-check .wrap-text {
      font-size: 1.5rem;
      color: white;
      text-transform: uppercase; }
    .check .wrap-check .wrap-input input::placeholder {
      font-size: .8rem; }
    .check .wrap-check .wrap-button button {
      width: 100%;
      color: white;
      background: #f35f2a;
      text-transform: uppercase; }

.news {
  margin-top: 3rem; }
  .news .title-news {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1rem; }
    .news .title-news .text {
      color: #3f3f3f;
      font-size: 1.6rem;
      padding-bottom: 1rem;
      position: relative; }
      .news .title-news .text:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -4px;
        left: 0;
        background: #171d96; }
  .news figure .title {
    margin-top: .5rem;
    font-weight: 700; }
    .news figure .title a {
      text-decoration: none;
      color: #333333; }
  .news figure .hr {
    width: 30%;
    height: 3px;
    margin-top: 1rem;
    background: #171d96; }
  .news .excerpt {
    font-size: .8rem;
    color: #8d8d8d; }
  .news .more {
    margin-top: 1rem; }
    .news .more a {
      text-decoration: none;
      background: #171d96;
      color: white;
      padding: 6px 25px;
      font-size: .8rem; }

.video {
  margin-top: 3rem; }
  .video .card-header {
    background-color: transparent; }
    .video .card-header .btn-link {
      text-decoration: none; }
    .video .card-header .text, .video .card-header .icon {
      font-weight: 700;
      color: black;
      text-decoration: none; }

footer {
  margin-top: 3rem;
  /* top */
  /* bottom */ }
  footer .footer-top {
    background: #f8f8f8;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    footer .footer-top .title {
      font-size: 1.2rem;
      color: #171d96;
      text-transform: uppercase;
      font-weight: 700;
      padding-bottom: .5rem;
      border-bottom: 1px dotted #c6c6c6; }
    footer .footer-top .content {
      margin-top: 1rem;
      color: #787a7a;
      font-size: .8rem; }
      footer .footer-top .content .info {
        margin-top: 1.5rem; }
        footer .footer-top .content .info .item {
          line-height: 1.8rem; }
          footer .footer-top .content .info .item .icon i {
            color: #333333;
            font-size: 1rem;
            margin-right: 7px; }
          footer .footer-top .content .info .item .email {
            color: #171d96;
            text-decoration: underline; }
      footer .footer-top .content .social {
        margin-top: 10px; }
        footer .footer-top .content .social a {
          margin-right: 5px; }
          footer .footer-top .content .social a i {
            font-size: 2rem;
            color: #171d96; }
      footer .footer-top .content input {
        width: 100%;
        padding: 5px 15px; }
      footer .footer-top .content textarea {
        width: 100%;
        margin-top: 15px;
        padding: 5px 15px; }
      footer .footer-top .content .btn-send {
        margin-top: 5px; }
        footer .footer-top .content .btn-send button {
          background-color: #171d96;
          outline: 0;
          padding: 5px 20px;
          color: white;
          border: none; }
  footer .footer-bottom {
    background: #171d96;
    padding: 1rem 0;
    color: white;
    font-size: .8rem; }
    footer .footer-bottom .back-to-top i {
      font-size: 1.5rem;
      padding: 10px 15px;
      cursor: pointer; }
