header {
  .container {
    .menu {
      .logo {
        img {
          height: 75px;
          width: 150px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
      .navbar{
        padding-top: 0px;
        .collapse {
          justify-content: flex-end;
          padding-top: 0px;
          ul {
            li{
              padding: 3px;
              padding-top: 40px;
              margin: 8px;
              margin-top: 0px!important;
              text-transform: uppercase;
              &:hover{
                a{
                
                }
                background-color: blue;
                border-radius: 0px 0px 8px 8px;
              }
            }
            margin-right: 0px !important;
            padding-right: 7px;
          }
          button{
            background: white;
            margin-top: 32px;
          }
        }
      }
    }
    .slider{
      
          .aa{ 
          text-transform: uppercase!important;
          }
        }
      
  }
}